<%- include('header'); -%>

    <!-- names, address, phone,
and emails of contacts -->

<div class ="contacts">
    <h2>Daisy K Murray</h2>
    <p>Address: 177 Hickory Ridge Drive</p>
    <p>Phone:   702-668-9935</p>
    <p>Email:   tzqizj1klr@temporary-mail.net</p>
    <br>

    <h2>Shirley R Mack</h2>
    <p>Address: 3160 Hill Street</p>
    <p>Phone:   419-798-5797</p>
    <p>Email:   eol8mc2e53@temporary-mail.net</p>
    <br>

    <h2>Howard M Williams</h2>
    <p>Address: 532 Kidd Avenue</p>
    <p>Phone:   907-849-7838</p>
    <p>Email:   5xe99bsfd3r@temporary-mail.net</p>
    <br>


    <h2>Susan H Peters</h2>
    <p>Address: 4564 Buffalo Creek Road</p>
    <p>Phone:   615-792-0965</p>
    <p>Email:   8n6qqsinemh@temporary-mail.net</p>
    <br>
</div>
<%- include('footer'); -%>